@charset "UTF-8";
/* Шрифты */
/* Переменные */
/* Styrene A Web - regular */
@font-face {
  font-family: "Styrene A Web";
  src: local(""), url("../fonts/StyreneAWeb-Regular.woff2") format("woff2"), url("../fonts/StyreneAWeb-Regular.woff") format("woff"), url("../fonts/StyreneAWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Styrene A Web Bold";
  src: local(""), url("../fonts/StyreneAWeb-Bold.woff2") format("woff2"), url("../fonts/StyreneAWeb-Bold.woff") format("woff"), url("../fonts/StyreneAWeb-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Styrene A Web Light";
  src: local(""), url("../fonts/StyreneAWeb-Light.woff2") format("woff2"), url("../fonts/StyreneAWeb-Light.woff") format("woff"), url("../fonts/StyreneAWeb-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Styrene A Web Light Medium";
  src: local("Styrene A Web Medium"), local("Styrene-A-Web-Medium"), url("../fonts/StyreneAWeb-Medium.woff2") format("woff2"), url("../fonts/StyreneAWeb-Medium.woff") format("woff"), url("../fonts/StyreneAWeb-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Шрифты */
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* Глобальные свойства */
.container {
  max-width: 1286px;
  margin: 0 auto;
}

/* MAIN */
.main {
  padding: 71px 0 171px 0;
}

.title {
  font-family: "Styrene A Web Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
  margin: 0 0 89px 0;
  text-align: center;
}

.component {
  padding: 0 15px 71px 15px;
}

.component__title {
  font-family: "Styrene A Web Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 120%;
  color: #000000;
  text-align: left;
  margin: 0 0 83px 0;
}

.component__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.component__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 595px;
  width: 100%;
}

.component__block:last-child {
  max-width: 615px;
  margin: 0 0 0 30px;
}

.component__module {
  font-family: "Styrene A Web";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 120%;
  color: #000000;
  margin: 0 40px 0 0;
  position: relative;
}

.component__module::before {
  content: "";
  display: block;
  border-top: 2px solid #FF3535;
  width: 100%;
  position: absolute;
  top: -29px;
  left: 0;
}

.component__list {
  list-style-type: none;
  padding: 7px 0 0 0;
  margin: 0;
  max-width: 373px;
}

.component__item {
  font-family: "Styrene A Web Light";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
  margin: 0 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.component__item:last-child {
  margin: 0;
}

.component__item::before {
  content: "";
  display: block;
  min-width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #FF3535;
  margin: 7px 15px 0 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 76px 0 0 0;
}

.footer__box {
  max-width: 628px;
  width: 100%;
}

.footer__box:nth-child(1) {
  background-color: #FF3535;
  padding: 56px 53px 55px 71px;
  margin: 0 5px 0 0;
}

.footer__box:nth-child(2) {
  background-color: #2D2C2A;
  padding: 56px 53px 55px 57px;
}

.footer__title {
  font-family: "Styrene A Web Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  color: #FFFFFF;
  margin: 0 0 24px 0;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__item {
  font-family: "Styrene A Web Light";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 0;
}

.footer__item:last-child {
  margin: 0;
}

.footer__item::before {
  content: "";
  display: block;
  min-width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #FF3535;
  margin: 7px 15px 0 0;
}

.footer__item-mark::before {
  display: none;
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
  .main {
    padding: 28px 0 47px 0;
  }
  .title {
    font-family: "Styrene A Web Light Medium";
    font-weight: 500;
    font-size: 28px;
    color: #262626;
    margin: 0 0 34px 0;
    text-align: left;
  }
  .component {
    padding: 0 0 18px 0;
  }
  .component__block {
    max-width: inherit;
  }
  .component__block:last-child {
    max-width: inherit;
    margin: 0;
  }
  .component__title {
    font-size: 22px;
    margin: 0 0 27px 0;
  }
  .component__wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .component__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .component__module {
    font-family: "Styrene A Web Light";
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    color: #262626;
    background-color: #F7F7F7;
    padding: 15px 15px 15px 69px;
    margin: 0 0 10px 0;
  }
  .component__module::before {
    border-top: none;
    background-image: url(../img/plus.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 18px;
    height: 18px;
    top: 18px;
    left: 24px;
  }
  .component__list {
    padding: 7px 0 17px 0;
    max-width: inherit;
    display: none;
  }
  .red {
    background-color: #FF3535;
  }
  .red::before {
    background-image: url(../img/minus.png);
  }
  .open {
    display: block;
  }
  .component__item {
    font-size: 15px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 9px 0 0 0;
  }
  .footer__box {
    max-width: inherit;
  }
  .footer__box:nth-child(1) {
    padding: 31px 17px 41px 17px;
    margin: 0 0 23px 0;
  }
  .footer__box:nth-child(2) {
    padding: 31px 23px 62px 23px;
  }
  .footer__title {
    font-size: 25px;
  }
}
/*# sourceMappingURL=page1-main.css.map */